@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
/* *{
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
} */
    body {
        background-color: #343A40;
    }
    .container {
        width: 320px;
        background-color: white;
        border: none;
        border-radius: 22px;
        transition: all 0.4s;
        padding-bottom: 5vh;
        margin: 120px auto;
    }
    table {
        width: 100%;
        border: none;
        /* border-color: #f4f4f4; */
    }
    td {
        width: 25%;
        
    }
    .button1 {
        width: 100%;
        height: 70px;
        font-size: 24px;
        background-color: white;
        border: none;
    }
    #inputLabel {
        height: 120px;
        font-size: 40px;
        vertical-align: bottom;
        border: none;
        border-radius: 22px;
        text-align: right;
        padding-right: 16px;
        background-color: #ececec;
        color: black;
    }

    @media only screen and (max-width: 1000px) {
    
    .container {
        width: 70vw;
        height: auto;
        padding-bottom: 8vh;
        margin: 22vh auto;
        border: none;
        
        border-radius: 22px;
        
    }
    #inputLabel {
        border-radius: 22px;
        border: none;
    }
}
.container:hover{
    box-shadow: 0px 0px 4px 5px whitesmoke;
}
